# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# VS Code / JetBrains Rider
.vscode/
.idea/

# Visual Studio
.vs/
.vsconfig

# OS files
.DS_Store
Thumbs.db
